header {
    background-color: #333333;
}

header nav{
    position:absolute;
    top:20px;
    right:10px;
}

header a{
    color:#ffffff;
}

body {
    background-color: #dedede;
}

article, aside{
    display: block;
    margin: 30px;
    padding: 30px;
    box-shadow: 1px 1px 2px 1px #848484;
    background-color: white;
}

a:hover{
    color:red;
}

article h2 {
    color:#808080;
    font-size: 16px;
}

p.author {
    color:#808080;
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #333333;
    color: #ffffff;
}

tr.bottom {
    background-color: #cccccc;
}

aside h2 {
    display: block;
    border-left : thick solid #ccc;
}

aside form {
    margin: 15px 0;
}


form p {
    margin-left:35%;
    padding-left:15px;
    font-size:12px;
    color: #aaa;
}

form div {
    font-size: 14px;
    margin:15px 0;
}

form label {
    float: left;
    text-align: right;
    width: 35%;
    padding-right: 15px;
}

form .submitButton {
    width:100%;
    background-color: #128fdc;
    color: white;
    border-radius :10px;
    height: 40px;
}

form .submitButton:hover{
    background-color: #0063dc;
}